COUCHBASE_ADMIN_USERNAME=admin
echo "COUCHBASE_ADMIN_USERNAME=$COUCHBASE_ADMIN_USERNAME" > ./.env
COUCHBASE_ADMIN_PASSWORD=$(apg -a 0 -m 16 -n 1)
echo "COUCHBASE_ADMIN_PASSWORD=$COUCHBASE_ADMIN_PASSWORD" >> ./.env
COUCHBASE_LO=127.0.0.1
echo "COUCHBASE_LO=$COUCHBASE_LO" >> ./.env
ADMIN_USERNAME=admin
echo "ADMIN_USERNAME=$ADMIN_USERNAME" >> ./.env
ADMIN_PASSWORD=$(apg -a 0 -m 16 -n 1)
echo "ADMIN_PASSWORD=$ADMIN_PASSWORD" >> ./.env
ADMIN_EMAIL=$ADMIN_EMAIL
echo "ADMIN_EMAIL=$ADMIN_EMAIL" >> ./.env
ROOT_SPACE=$ROOT_SPACE
echo "ROOT_SPACE=$ROOT_SPACE" >> ./.env
ROOT_CURRENCY=$ROOT_CURRENCY
echo "ROOT_CURRENCY=$ROOT_CURRENCY" >> ./.env
SMTP_CONFIG=smtp://localhost:25
echo "SMTP_CONFIG=$SMTP_CONFIG" >> ./.env
